.cardcontainer {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 80px;
    padding: 30px;
    grid-template-rows: repeat(3,150px);
    grid-template-columns: repeat(3,150px);
}
.card {
    margin-top: 250px;
    background:lightblue;
    border-radius: 5px;
    overflow: hidden;
    height: 220px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.card a{
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;

}
.card p {
    padding: 0px;
    font-size: 15px;
    color: #333;
}
